@import "./custom";

.form-class{
    position: relative;
    top: 3rem;

  }
    

  //// NAVBAR DESIGNS
      .menu{
      //  z-index: -1;
        li{
            padding: 0 0.7rem;
    
            a{
                color: $secondary;
                font-weight: 600;
                margin-right: 2rem;


                &::before{
                  content: " ";
                  position:absolute;
                  width: 2rem;
                  height: 3px;
                  top: 3rem;
                  // background: linear-gradient(to left,$primary,$secondary);
                  transition: 0.5s ease-in-out;
                }
                
            }
            
        }
    }
   

  