<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=name %></title>
    <link rel="icon" href="../../assets/css/images/favicon.ico" type="image/x-icon"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
      theme: {
        extend: {
          colors: {
            primary: '#da373d',
            secondary:"#12344",
            accent:"#ffffff"
          }
        }
      }
    }
    </script>
</head>
