<html lang="en">
<head>
  <link rel="shortcut icon" type="x-icon" href="../../assets/css/images/anchor.png">
  <link rel="icon" type="image/png" href="../../assets/css/images/anchor.png">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=title %></title>
  <link rel="stylesheet" href="./css/style.css">
</head>