@import "../custom";

.head-text{
    font-size: 3.5rem;
    margin-bottom: 2rem;
    margin-top: 3rem;
    font-family: 'Times New Roman', Times, serif;
  }

  .p-text{
    font-family: cursive;
    margin-bottom: 3rem;
  }
  

  label{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1rem;
  }

