<%- include("./partials/header.ejs") %>
<body>
  <div class="container form-class">
      <div class="row justify-content-center">
          <div class="col-md-9">
            <section class="section">
              <h2 class="text-center head-text">Sign<span class="text-primary">Up</span></h2>
              <h5 class="text-center p-text">Already have an account? <a href="./login">login</a></h5>
            </section>

            <form action="/signup" method="post">
              <div class="row justify-content-center">
                <div class="col-lg-5 col-md-7 ">
                  <label for="username" class="form-label">Username</label>
                  <input type="text" class="form-control bg-body-secondary mb-3"name="username" required>

                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control bg-body-secondary mb-3" name="email" required>

                  <label for="password" class="form-label">Password</label>
                  <input type="password" class="form-control bg-body-secondary" name="password" required>

                  <button type="submit" class="button">SignUp</button>
                </div>
              </div>
            </form>
          </div>
      </div>
  </div>
</body>
